{% extends "base.html" %}
{% block title %}Facturas{% endblock %}
{% block content %}
<h2 class="mb-2">Facturas</h2>

<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Nº Factura</th>
                <th>Fecha emisión</th>
                <th>Venta</th>
                <th>Pasajero</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for f in facturas %}
            <tr>
                <td>{{ f.nro_factura }}</td>
                <td>{{ f.fecha_emision.strftime("%d/%m/%Y") }}</td>
                <td>#{{ f.id_venta }}</td>
                <td>{{ f.venta.pasajero.nombre_completo }}</td>
                <td>Bs {{ "%.2f"|format(f.total) }}</td>
                <td><a href="{{ url_for('facturas.detalle', id_factura=f.id_factura) }}">Ver</a></td>
            </tr>
            {% else %}
            <tr><td colspan="6" class="empty-state">No hay facturas registradas.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
